<h1>Codey Gonzalez</h1>
<div id="container">

  <div hidden id="test-string">function concatenate(first, last) {
    var full;
    full = first + last;
    return full;
  }</div>

  <div id="prompt-container">

    <pre id="code"></pre>

    <textarea id="typing" class="form-control" type="text" rows="8" cols="40"></textarea>
  </div>

</div>
