<body>
  <audio style="visibility: hidden" controls="controls" id="audio">
    <source src="/assets/Andalay.mp3" type="audio/mp3" />
  </audio>

  <h2>Language: <%= @code.language %></h2>
  <h3>Difficulty: <%= @code.level %></h3>
  <div hidden id="test-string"><%= @code.content %></div>

<div id="container">
  <h1 id='start-typing'>Start typing to begin...</h1><br>
<div id="container">

  <div id="prompt-container">
    <pre id="code"></pre>

  </div>
  <div id="timer"></div>

  <div id="results">
    <div id="result-time"></div>
    <div id="wpm"></div>
    <div id="accuracy"></div>
    <div id="score"></div>
  </div>
<br>
<button id='play-again' type="button" onClick="window.location.reload();" class="btn-primary hidden">Play again</button>


  <img id='codey' src="http://ih0.redbubble.net/image.89657688.8015/flat,1000x1000,075,f.jpg" alt="codey" class='hidden'/>

</div>
</body>
