
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700';

$red:   #E63946;
$green: #042A2B;

.actions {
  margin-bottom: 10px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 50px;
}

a.navbar-brand {
  font-weight: 700;
}

a.navbar-brand img {
  position: absolute;
  top: 10px;
}

a.navbar-brand span {
  margin-left: 35px;
}

pre {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
  margin-top: 0;
}

.alert {
  margin-bottom: 40px;
}

.page-header h1 {
  font-weight: 700;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

.footer {
  color: white;
  width: 100%;
  background-color: $green;
}

.footer p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.footer a {
  color: white;
}
