// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#audio {
  display: none;
}

.code-type {
  font-size: 18px;
}

#start-typing {
  font-weight: 700;
  margin-bottom: 50px;
}

span.correct {
  background-color: #00ff94;
}

span.incorrect {
  background-color: #ff0000;
}

span.active {
  background-color: #2971d1;
}

#code {
  font-size: 2rem;
}

#results {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 30px;
}

#timer {
  font-size: 24px;
  margin-left: 70px;
  position: absolute;
  top: -5px;
}

#timer i {
  margin-right: 7px;
}

button.hidden {
  display: none;
}

.type-info {
  margin-bottom: 15px;
}

.sign-in-prompt {
  padding-top: 1rem;
  text-align: center;
}
