// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.correct {
  background-color: #00ff94;
}

span.incorrect {
  background-color: #ff0000;
}

span.active {
  background-color: #2971d1;
}

#start-typing {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
}

#code {
  background-color: white;
  max-width: 70%;
  font-size: 2rem;
}

#results {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
}

#timer {
  font-size: 1.8rem;
}

#codey {
  float:right;
  width: 50%;
}

button.hidden {
  display: none;
}

img {
  max-width: 30%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}
